<div class="side_header">
  <p class="login_user">
    Tom
  </p>
  <p class="create_chat">
    <a href="#">チャットを作成する</a>
  </p>
</div>

<div class="side_main">
  <p class="chat_room">
    <a href="#">チャットルーム1</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム2</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム3</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム4</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム5</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム6</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム7</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム8</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム9</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム10</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム11</a>
  </p>
  <p class="chat_room">
    <a href="#">チャットルーム12</a>
  </p>
</div>